* {
	margin: 0;
}
.app {
	display: flex;
	justify-content: space-evenly;
	padding: 20px;
}
.app__header > h1 {
	color: rgb(247, 0, 0);
}
.app__left {
	flex: 0.9;
}

.app__graph > h3 {
	margin-top: 60px;
	margin-bottom: 25px;
	color: rgb(73, 73, 73);
}
.app__table {
	margin-top: 20px;
}
.app__table > h3 {
	color: rgb(73, 73, 73);
}
.app__dropdown {
	background-color: white;
}

@media (max-width: 990px) {
	.app {
		flex-direction: column;
	}
}

.app__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.app__stats {
	display: flex;
	justify-content: space-between;
}
body {
	background-color: whitesmoke;
}
